<!DOCTYPE html>
<html>
<head>
  <%= erb(:headers) %>
  <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic" />
<% stylesheets.each do |stylesheet| %>
    <link rel="stylesheet" href="<%= url_for(stylesheet) %>" type="text/css" charset="utf-8" />
<% end %>
  <!-- SCRIPTS -->
<%= erb :script_setup %>
<% javascripts.each do |javascript| %>
    <script type="text/javascript" charset="utf-8" src="<%= url_for(javascript) %>"></script>
<% end %>
    <script>
      // Every time this page is loaded, it sends this action to SketchUp, telling
      // SketchUp that a new page has loaded that has example snippets that should
      // be replaced with code editors. Nothing happens if the page is loaded in a
      // regular browser outside of the SketchUp client.
      $( document ).ready(function() {
        if (typeof sketchup == 'object') {
          sketchup.page_loaded();
        }
      });
    </script>

</head>
<body>

  <%= erb(:navbar) %>

  <div id="su-content">

    <div class="nav_wrap">
      <iframe id="nav" src="<%= @nav_url %>"></iframe>
      <div id="resizer"></div>
    </div>

    <div id="main" tabindex="-1">
      <div id="header">
        <%= erb(:breadcrumb) %>
        <%= erb(:search) %>
        <div class="clear"></div>
      </div>

      <div id="content"><%= yieldall %></div>

      <%= erb(:footer) %>
    </div>

  </div>

</body>
</html>
